<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Document</title>
</head>
<body>
   
    <div class="container">

        <div class="left-panel">
            <h1> Secure Bank</h1>
            <p>Safe, Secure and Reliable Banking Services.</p>
        </div>

        <div class="login-box">

            <h2>Login</h2>

            <form method="POST">

                <input type="email"
                       name="email"
                       placeholder="Enter Email"
                       required>

                <input type="password"
                       name="password"
                       placeholder="Enter Password"
                       required>

                <button type="submit">
                    Login
                </button>

            </form>

            <p>
                Don't have an account?
                <a href="/register">Register</a>
            </p>

        </div>

    </div>

</body>
</html>